body {
    width: 75%;
    margin: 0px auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#resultsModal {
    width: 50%
}

#userMatchPic {
    max-width: 200px;
    max-height: 200px;
}